Importation of the Dependencies

In [9]:
import  numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [11]:
#loading the csv data to a pandas dataframe
heart_data = pd.read_csv('/content/heart.csv')

In [12]:
#print first rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [13]:
#number of the columns and rows
heart_data.shape

(1025, 14)

In [14]:
#get informations about the dataset
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [15]:
#checking for the messing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [16]:
#statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
#checking the distribution of target variable
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

1--> defective heart
0--> healthy heart

splitting the features and targets

In [18]:
X = heart_data.drop(columns='target' , axis=1)
Y = heart_data['target']

In [19]:
print (X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [20]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

splitting the data into training data and test data

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2 , stratify = Y, random_state = 2)

In [ ]:
print (X_train)
print (X_test)
print (Y_train)
print (Y_test)
print (X_train.shape)
print (X_test.shape)
print (Y_train.shape)
print (Y_test.shape)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
14     52    1   0       128   204    1        1      156      1      1.0
586    64    1   2       125   309    0        1      131      1      1.8
16     51    0   2       140   308    0        0      142      0      1.5
462    52    1   3       118   186    0        0      190      0      0.0
186    40    1   0       110   167    0        0      114      1      2.0
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
221    63    1   0       130   254    0        0      147      0      1.4
906    42    1   0       140   226    0        1      178      0      0.0
1002   66    1   0       112   212    0        0      132      1      0.1
966    58    1   0       128   259    0        0      130      1      3.0
191    56    1   1       130   221    0        0      163      0      0.0

      slope  ca  thal
14        1   0     0
586       1   0     3
16        2   1     2
462       1   0     1
186       1   0     3
...     ...  ..   ...
221       1   1     3
906       2   0     2
1002      2   1     2
966       1   2     3
191       2   0     3

[820 rows x 13 columns]
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
845   56    1   0       132   184    0        0      105      1      2.1
542   62    0   0       140   394    0        0      157      0      1.2
147   41    1   0       110   172    0        0      158      0      0.0
711   35    1   0       120   198    0        1      130      1      1.6
724   74    0   1       120   269    0        0      121      1      0.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
889   63    0   0       150   407    0        0      154      0      4.0
563   44    1   0       112   290    0        0      153      0      0.0
654   41    0   1       126   306    0        1      163      0      0.0
943   65    1   0       120   177    0        1      140      0      0.4
734   52    1   0       128   204    1        1      156      1      1.0

     slope  ca  thal
845      1   1     1
542      1   0     2
147      2   0     3
711      1   0     3
724      2   1     2
..     ...  ..   ...
889      1   3     3
563      2   1     2
654      2   0     2
943      2   0     3
734      1   0     0

[205 rows x 13 columns]
14      0
586     0
16      1
462     1
186     0
       ..
221     0
906     1
1002    0
966     0
191     1
Name: target, Length: 820, dtype: int64
845    0
542    1
147    0
711    0
724    1
      ..
889    0
563    0
654    1
943    1
734    0
Name: target, Length: 205, dtype: int64
(820, 13)
(205, 13)
(820,)
(205,)

Model Training
Logistic Regression

In [23]:
model = LogisticRegression()

In [24]:
#training the LogisticRegression model with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy score

In [25]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.8524390243902439

In [28]:
#accuracy on training data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.8048780487804879

Building a predictive System

In [34]:
input_data = (22,1,0,95,130,0,1,120,0,0.8,2,1,3)

# change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshpe the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print (prediction)

if (prediction[0] == 0):
  print('the person does not have a heart disease')
else:
   print('the person has a heart disease')

[0]
the person does not have a heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [35]:
input_data = (71,1,1,160,240,0,1,240,0,0.8,2,3,3)

# change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshpe the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print (prediction)

if (prediction[0] == 0):
  print('the person does not have a heart disease')
else:
   print('the person has a heart disease')

[1]
the person has a heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(